logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
.docker-volumns/
.docker-volumes/
.github/workflows/nodejs.yml
.env
*.swp
!*.lock
log.txt
yarn-error.log
!.autod.conf.js

app.js
app.d.ts
app/**/*.js
app/**/*.d.ts
test/**/*.js
test/**/*.d.ts
config/**/*.js
config/**/*.d.ts
app/**/*.map
test/**/*.map
config/**/*.map
uploads/
